################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KleyTech/obj
/KleyTech.AccessData/obj
/KleyTech.Models/obj
/KleyTech.Utilities/obj
