@using KleyTech.Utilities;
﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KleyTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KleyTech.styles.css" asp-append-version="true" />

    <!-- Frontend plugins -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://kit.fontawesome.com/402eda08d7.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="User" asp-controller="Home" asp-action="Index">KleyTech</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">

                    @*@if (User.IsInRole(CNT.Admin))
                    {
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Content</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Articles" asp-action="Index">Articles</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Sliders" asp-action="Index">Sliders</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>

                                </div>
                            </li>
                        </ul>
                    }*@
                    
                    
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>

        @if (ViewBag.IsHome == true)
        {
            <partial name="_Slider" />
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            
            @RenderBody()

            @*Activo el panel de admin*@
            @if (User.IsInRole(CNT.Admin))
            {
                <a id="btnAdminPanelOpen" class="btnAdminPanel" data-bs-toggle="offcanvas" data-bs-target="#adminPanel" aria-controls="adminPanel">
                    <i class="fa-solid fa-pencil text-white"></i>
                </a>

                <div id="adminPanel" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="adminPanelLabel">
                    <div class="offcanvas-header bg-light">
                        <h4 class="offcanvas-title" id="adminPanelLabel">
                            <i class="fa-solid fa-palette"></i> Administration
                        </h4>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <a class="btn btn-outline-primary w-100 mb-2" asp-area="Admin" asp-controller="Headers" asp-action="Index">Headers</a>
                        <a class="btn btn-outline-secondary w-100 mb-2" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
                        <a class="btn btn-outline-secondary w-100 mb-2" asp-area="Admin" asp-controller="Articles" asp-action="Index">Articles</a>
                        <a class="btn btn-outline-secondary w-100 mb-2" asp-area="Admin" asp-controller="Sliders" asp-action="Index">Sliders</a>
                        <a class="btn btn-outline-secondary w-100 mb-2" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
                    </div>

                    <a id="btnAdminPanelClose" class="btnAdminPanel" data-bs-dismiss="offcanvas" aria-label="Close">
                        <i class="fa-solid fa-pencil text-white"></i>
                    </a>
                </div>
                
            }
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - KleyTech - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Frontend plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/0f48d8c00d.js" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>