@model KleyTech.Models.ViewModels.HomeVM 

<div class="row mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-white py-1 bg-gradient" style="background-color: darkgrey;">Last courses and tutorials</h1>
    </div>
</div>

@if(Model.ArticleList.Count() > 0){
    <hr/>
    <div class="row">
        @foreach (var article in Model.ArticleList.OrderBy(o=>o.Id))
        {
            <div class="col-4">
                <div class="card">
                    <img src="@article.ImageURL" class="img-thumbnail" width="100%">
                    <div class="card-body">
                        <h5 class="text-center">@article.Name</h5>
                        <a asp-action="Details" class="btn btn-success" style="border-radius:2px" asp-route-id="@article.Id">
                            More information
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}else{
    <p>There are no articles</p>
}